{# src/VA/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "VAPlatformBundle::layout.html.twig" %}

{% block title %}
    Home | {{parent()}}
{% endblock %}


{% block body %}
    {% block nav %}
       {{parent()}} 
    {% endblock %}
 
    {% block content %}
        <div id="index">
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Bienvenue sur votre ancetre.be</div>
                    <div class="input-group">
                        <form action="{{ path('va_platform_search')}}" method="get">
                            <input type="text" class="form-control" name="formHome" autofocus>
                            <input type="submit"/>
                        </form>
                    </div>
                    <div class="intro-heading">Trouver votre voiture !</div>
                </div>
            </div>
        </div>
        {% block footer %}{% endblock %}
    {% endblock %}
    
{% endblock %}

