{# src/VA/PlatformBundle/Resources/views/Default/index.html.twig #}

{% extends "VAPlatformBundle::layout.html.twig" %}

{% block title %}
    Soon | {{parent()}}
{% endblock %}


{% block body %}
    {% block nav %}
        {{parent()}}
    {% endblock %}
 
    {% block content %}
        <div id="index_wait">
            <div class="container">
                <div class="intro-text">
                    <div style="font-family: 'Kaushan Script'; color: #fed136; font-size: 550%; ">QrCar</div>
                    <div class="intro-heading">Soon ...!</div>
                </div>
            </div>
        </div>
        {% block footer %}{% endblock %}
    {% endblock %}
    
{% endblock %}

