#description ul, #description h3{
    display: none;
}
footer{
    display: none;
}
.racc_voit{
    display: none;
}
.bx-wrapper{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
}
#qrcode_info{
    margin-left: 40px;
    display: inline;
}